<form action="<%= newspapers_url %>" method="post">
  <label for="title">Title:</label>
  <input type="text" name="newspaper[title]" id="title">

  <label for="editor">Editor:</label>
  <input type="text" name="newspaper[editor]" id="editor">

  <input type="submit" value="Submit Newspaper">

</form>